{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% csrf_token %}
    <!--{% load staticfiles %}-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form Registrasi</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href ="{% static 'css/style.css' %}">
  </head>
    <section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST">
            {% csrf_token %}
            {{form_daftar}}
        <br>
        </form>
        <div class='text-center'><button class='btn btn-success' disabled id='id_button'>Submit</button></div>
    </div>
</section>

    <script type="text/javascript">
    $('<p id="info_email" class="text-right"><b></b></p>').insertAfter('#id_email');
    $('<p></p>').insertAfter('#id_nama');

    $('#id_email').change(function() {
                $.ajax({
                    method: "POST",
                    url : '/email-check/',
                    data: { email: $('#id_email').val()},
                    success: function(msg) {
                        $('#info_email b').html(msg.message);
                }
            });
        });
    
    function allValid(){
        var valid = true;
        $('body input').each(function() {
            if($(this).val() == '' || $('#info_email b').html() != 'Ok'){
                 valid = false;
            }
        });
        return valid;
    }
    
    $('#id_nama, #id_email, #id_password').bind('keyup', function() {
        if (allValid()){
            $("#id_button").removeAttr('disabled');
        }else{
            $("#id_button").attr('disabled', 'true');
        }
    });
    
    $('#id_button').click(function() {
            $.ajax({
                method: 'POST',
                url: '/subscribe/',
                data: { nama: $("#id_nama").val(),
                        email: $("#id_email").val(),
                        password: $("#id_password").val()
                },
                success: function(msg) {
                    $("#id_nama").val('');
                    $("#id_email").val('');
                    $("#id_password").val('');
                    $('#info_email b').html('');
                    alert(msg.message);
                }
            })
        });


</script>




</html>
{% endblock %}