{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Yudha's Libary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href ="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script>
        var favCount=0;
        function fav(id){
          var ids= $('#' +id);
          if (ids[0].src == 'https://i.postimg.cc/3rjJgKZY/valentines-heart.png') {
                favCount--;
                ids[0].src = 'https://i.postimg.cc/hv8jvn24/e-commerce-like-heart-1.png';
            } else {
                favCount++;
                ids[0].src = 'https://i.postimg.cc/3rjJgKZY/valentines-heart.png';
            }
            $('#counter').html('<br>'+'<p>Favorite Books : '+ favCount + '</p>');
        }
        function pilihKategori(category){
          $('#counter').html('<br><p>Favorite Books : '+ favCount+ '</p>');
          $('#books').html("<tr><th id='table'>Cover</th><th id='table'>Title</th><th id='table'>Author</th><th> Fav </th></tr>")
          $.ajax({
            url: 'https://www.googleapis.com/books/v1/volumes?q='+category,
            success: function(obj){
              var i;
              for(i=0; i<obj.items.length; i++){
                var judul= obj.items[i]['volumeInfo']['title'];
                var image= '<img src="' + obj.items[i]['volumeInfo']['imageLinks']['thumbnail'] +'">';
                var author= obj.items[i]['volumeInfo']['authors'];
                $('#books').append('<tr><td>'+image+'</td><td>'+judul+'</td><td>'+ author+'</td><td><img style="cursor:pointer;" height="40" width="40" onclick=fav("'+ obj.items[i].id +'") id='+obj.items[i].id+ ' src="https://i.postimg.cc/hv8jvn24/e-commerce-like-heart-1.png" style="height:50px;"></td></tr>');
                }
              }
          })
        }
    </script>
  </head>

  <br>

  <body>
      <div class="container">
        <h1 id=welcome style="text-align: center;">Welcome to my Library</h1>
        <br>
        <p>Untuk mencari, tombol search harus dipencet</p>
        <p>Search pertama akan terhapus bila mengganti isi dari search bar dan memencet tombol search lagi</p>
        <div id="counter">
          <br>
          <p>Favorite Books : </p>
        </div>
        Search Bar : <input type="text" id="myText" value="">  <button onclick="pilihKategori(myText.value)">Search</button>
        <br>
        <br>
      </div>

      <table id= 'books' class="table table-responsive container" style="text-align: center;background-color:rgb(255,255,255,0.5)">
      <tr>
        <th id='table'>Cover</th>
        <th id='table'>Title</th>
        <th id='table'>Author</th>
        <th> Fav </th>
      </tr>
      </table>
  </body>
  <footer>
    <br>
    <p>Yudha Pradipta Ramadan</p>
    <p>1706043424</p>
  </footer>
</html>

{% block content %}
{% endblock %}
