html {
    height: 100%;
    box-sizing: border-box;
}
body {
  	position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 4rem;
    background-color:#40e0d0;
}
#love{
    cursor : pointer;
}
footer{
	text-align: center;
}